body{background-image: url("../getout.jpg");
} 

h1   {color:firebrick;
clear:both;}
p    {color:darkslategrey;}
h2{color:firebrick;}

#main{ clear:both;}

td{color:firebrick;}
th{color:firebrick;}
p{font-size: 18px;}

ul{ list-style: none;
display:block;
clear:both;}

li{float: left;
    margin: 10px;
    border:1px solid black;
    padding:10px;
    
    
}
li a{ color:firebrick;}
li a:hover{ color:blue;}
th{float:none;
margin:10px;
border:1px solid black;
padding:10px;}


